.footer-social-icons a{
    text-decoration: none;
}
footer p a{
 text-decoration: none;
}
footer p a:hover {
    font-weight: bolder;
}
footer .footer-logo{
 text-align: center;
}
footer .copyright {
    background-color: rgba(0, 0, 0, 0.05);
}
.images {
    max-width: 150px;
    width: 100%;
    height: auto;
}


.newsLetter{
    background-image: url(../../../public/images/newsletter_bg.png);
    height: auto;
    background-size: cover;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.NewsText{
    padding-top:10px;
    background-color: rgba(0, 0, 0, 0.47);
    color: white;
    font-family: 'Alata', sans-serif;
    margin: 0vw 1vw;
}
.button-subscirbe{
    width: 100px;
    background-color: black;
    outline: none;
    height: 30px;
    color: white;
    transition: 0.3s ease-in-out;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 700;
}
.button-subscirbe:hover{
    background-color: white;
    color: rgb(0, 0, 0);
}
.input-subscribe input{
    width: 50%;
    height: 30px;
    padding-left: 1vw;
    background-color: white;
    outline: none;
    border: 2px solid #000000;
    font-size: 13px;
    margin-top: 10px;
}
.input-subscribe{
    background-color: rgba(0, 0, 0, 0.47);
    padding-bottom: 3vh;
    margin: 0vw 1vw;
    padding-right: 0px!important;
}
@media screen and (max-width: 768px){
    .input-subscribe input{
        width: 90%;
    }
    .input-subscribe .col1 , .input-subscribe .col2{
        text-align: center!important;
    }
}