.reciept-card{
    background-image: url(../../../../public/images/loginpg_bg.png);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    box-shadow: 0px 5px 5px black;
  
  }
  .main-receipt-outer{
    display: flex;
    justify-content: center;
  }
  .mainReciept{
    background-image: url(../../../../public/images/paper_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    padding: 10px;
  }
  #recieptHead{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #recieptHead img{
    width: 100px;
    margin: 2vh 0;
    border-radius: 50%;
  }
  .head-receipt{
    font-weight: 300;
  }
  .payment-outer{
    display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .payment{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    min-width: 250px;
    box-shadow: 0px 5px 10px;
    padding: 20px;
    height: 100%;
  }
  .payment img{
    width: 100%;
    min-width: 150px;
  }
  .payment span{
    font-size: 16px;
    font-weight: 500;
  }
  #receiptBodyUpper{
    display: flex;
    flex-direction: column;
  }
  #receiptBodyUpper span{
    margin-top: 3px;
  }
  #recieptBodyUserName{
    font-size: 20px;
  }
  #userAddress{
    width: 70%;
    margin-bottom: 20px;
  }
  #todaysDate{
    margin-left: 10px;
  }
  #prodNameCategory{
    display: flex;
    flex-direction: column;
  }
  #prodCategory{
    font-size: 13px;
  }
  #prodPrice{
    margin-top: 17px;
  }
  .ReceiptItem{
    margin-top: 20px;
  }
  .summed-up-price{
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  .summed-up-price span{
    display: flex;
    justify-content: space-between;
  }
  #totalPrice , #FinaltotalPrice{
    margin-left: 10px;
  }
  @media screen and (max-width:992px) {
   .payment{
    margin-top:80px;
   }
   .summed-up-price{
    width: 70%;
   }
   .payment{
    width: 90%;
   }
  }