.loading{
    height: 90vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading img{
    width: 15vmax;
    height: 15vmax;
    border: 8px solid gray;
    border-radius: 50%;
    animation:loadingRotate 1600ms linear infinite   ;
}
@keyframes loadingRotate{
    to{
        transform:rotateZ(360deg);
    }
}