@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

.navbar-main{
    z-index:1000;
    box-shadow: 10px 0px 5px black;
    position: sticky;
    top: 0;
    background-color: white;
}
.brand{
    font-family: 'Alata', sans-serif;
    font-size: 30px;
    text-decoration: none;
}
.brand-item-color{
    color:#899194;
}
.brand:hover,.brand-item-color:hover{
    cursor: pointer;
}
.nav-align-item{
    margin: 0px!important;
}
#navbarSupportedContent{
    margin-left: 2vw;
}
.nav-items li{
    margin-left: 2vw;
}
.nav-icons li i{
    margin-left: 3vw;
    font-size: 25px;
}
.nav-items li:hover{
    font-weight: 600;
}

.login-element{
    margin-left: 3vw;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 10px;
    transition: .3s ease-in-out;
}
.user-element img{
    margin-left: 3vw;
    width: 40px;
    min-width: 40px;
    aspect-ratio: 1;
    border-radius: 100%;
    object-fit: contain;
}

.login-user-element:hover{
    background-color: #bdc6c9;
}
@media screen and (max-width: 992px) {
    .nav-items li i{
        margin-left: 0vw;
    }
    .nav-item-main{
        border-bottom: 1px solid  rgba(0, 0, 0, 0.45);
    }
    .login-element{
        border: none;
        transition: 0s;
    }
    .login-element:hover{
        background-color: white;
    }
}