.new-product-input{
    width: 350px!important;
    padding: 1vmax 60px;
    box-sizing: border-box;
    border: 1px solid black;
    outline: none;
    padding-right: 1vmax;
}
#selectInput-Admin{
    width: 350px!important;
    box-sizing: border-box;
    border: 1px solid black;
    outline: none;
    height: 60px;
    text-align: left;
}
 .new-product-admin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.productImageInput{
    width: 100%!important;
    box-sizing: border-box;
    border: 1px solid black;
    outline: none;
    padding-right: 1vmax;
}
#submitButtonProduct{
    width: 100%!important;
}
#createProductFormImage{
    width: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
}
#createProductFormImage img{
    width: 150px;
    aspect-ratio: 1;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
} 
@media screen and (max-width:900) {
    #createProductFormImage{
        width: 300px;
    }
}