.orderSuccess{
    margin: 20px 70px;
    padding:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.orderSuccess svg{
    font-size: 150px;
}
.btn-orderSuccess{
    margin:10px
}
@media screen and (max-width:992px){
    .orderSuccess{
        margin: 0px;
        padding: 20px;
    }
}