@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
.prod-detsShadow-dark {
  box-shadow: 0px 5px 10px black;
  padding-top: 10px;
}
.prod-detsShadow-light {
  box-shadow: 0px 5px 10px rgb(255, 255, 255);
  padding-top: 10px;
}
.carousel .thumbs-wrapper {
  margin: 5px !important;
}
.page-title {
  background-color: rgba(143, 126, 126, 0.329);
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}
.page-title span {
  margin-left: 3vw;
}
.details {
  padding-left: 30px;
  margin-top: 10px;
}
.detailSection-1 {
  font-family: "Alata", sans-serif;
}
.detailSection-1 p {
  font-weight: lighter;
}

.detailSection-2 {
  display: flex;
  align-items: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  justify-content: flex-start;
  margin-top: 20px;
}
.detailSection-2 span {
  margin-left: 2.4vw;
}

.detailSection-3 {
  font-family: "Alata", sans-serif;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.detailSection-3 span {
  font-size: 30px;
}
.detailSection-3 .stock-status {
  font-size: 16px;
  margin-left: 1vw;
}
.detailSection-4 {
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.detailSection-5 {
  display: flex;
}
.color-light {
  color: white;
}
option[value=""][disabled] {
  display: none;
}
.detailSection-5-1 select {
  border-radius: 5px;
  width: 150px;
  height: 30px;
  text-align: center;
  font-family: "Alata", sans-serif;
  background-color: transparent;
}
select option {
  color: black;
}
.color-dark {
  color: black;
}
.detailSection-5-2 {
  margin-left: 2vw;
}
.detailSection-5-2 p:hover {
  cursor: pointer;
  text-decoration: underline;
}
.detailSection-6 {
  display: flex;
  align-items: center;
  margin-top: 1vw;
}
.detailSection-6 #addToCart {
  margin-left: 2vw;
}
.detailSection-6-1 input,
.detailSection-6-1 button {
  width: 40px;
  height: 5vh;
  text-align: center;
  transition: 0.3s ease-in;
  font-weight: 700;
}
.detailSection-6-1 button {
  border-radius: 5rem 0px 0px 5rem;
}
.detailSection-6-1 button:last-child {
  border-radius: 0rem 5rem 5rem 0rem;
}
#addToCart {
  padding: 0px 30px;
  height: 5vh;
  width: 200px;
  border-radius: 0.5rem;
  transition: 0.1s ease-in;
}
.mode-dark {
  color: white;
  background: black;
  border: 1px solid gray;
}
.mode-dark:hover {
  background-color: gray;
  color: white;
}
.mode-light {
  border: 1px solid black;
  color: black;
  background-color: white;
}
.mode-light:hover {
  background-color: black;
  color: white;
}
#personDetsSection img {
  border: 1px solid black;
  border-radius: 50%;
  width: 60px;
  margin-right: 10px;
}
#personDetsSection,.reviewForm {
  text-align: left;
}
.personal-review-submit {
  width: 60%;
  min-width: 300px;
  border: 1px solid gray;
  padding: 20px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
}
.reviewForm textarea {
  width: 100%;
  padding: 15px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #899194;
}
.reviewForm button{
    transition: .3s ease-in;
    border-radius: 5rem;
    width: 100px;
}
#noReviewText{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}
@media screen and (max-width: 768px) {
  .details {
    text-align: center;
  }
  .detailSection-2,
  .detailSection-3,
  .detailSection-5,
  .detailSection-6 {
    justify-content: center;
    margin-top: 3vw;
  }
  .personal-review-submit{
    width: 100%;
  }
}
