@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
.page-header {
  font-family: "Alata", sans-serif;
  text-align: center;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pagination {
  display: flex;
  justify-content: center;
}
.my-slider-price {
  display: flex;
  width: 300px;
  justify-content: space-evenly;
  align-items: center;
}
#priceRangeLabel {
  margin-right: 1vw;
  width: 150px;
}
.shop-filters li {
  margin-left: 6vw;
}
select {
  border-radius: 5px;
  width: 250px;
  height: 30px;
  text-align: center;
  font-family: "Alata", sans-serif;
  background-color: transparent;
}
select option {
  color: black;
}
.color-dark {
  color: black;
}

@media screen and (max-width: 992px) {
  .nav-item-shop {
    border-bottom: 1px solid rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    padding: 10px 0px;
  }
}
