@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
.page-header {
  font-family: "Alata", sans-serif;
  text-align: center;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pagination {
  display: flex;
  justify-content: center;
}
.my-slider-price {
  display: flex;
  width: 20vw;
  justify-content: space-evenly;
}
#priceRangeLabel {
  margin-right: 0vw;
  width: 60%;
}
.shop-filters li {
  margin-left: 2.5vw;
}
.shop-filters {
  display: flex;
  justify-content: space-evenly;
}
select {
  border-radius: 5px;
  width: 15vw;
  height: 30px;
  text-align: center;
  font-family: "Alata", sans-serif;
  background-color: transparent;
}
select option {
  color: black;
}
.color-dark {
  color: black;
}
.nav-itemm-shop {
  margin: 0px;
}
.btn-apply-filter {
  width: 130px;
}
.btn-apply-filter:hover {
  background-color: white;
}
.filter-navbar {
  z-index: 999;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .nav-item-shop {
    border-bottom: 1px solid rgba(0, 0, 0, 0.45);
    justify-content: center;
    padding: 10px 0px;
  }
  select {
    width: 100%;
  }
  .my-slider-price {
    width: 85%;
  }
  #priceRangeLabel {
    width: 60%;
  }
  .btn-apply-filter {
    width: 100%;
  }
}
