.form-group{
    display: flex;
    align-items: center;
}

.form-group i,.form-group svg{
    margin-left: 20px;
    position: absolute;
}
.form-group img{
    width: 150px!important;
    margin-right: 10px;
}
.image-input{
    display: flex;
    align-items: center;
}

.updateUser-input{
    width: 100%!important;
    padding: 1vmax 4vmax;
    box-sizing: border-box;
    border: 1px solid black;
    outline: none;
    padding-right: 1vmax;
}
#userUpdateDivision{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 992px) {
    .updateUser-input{
        padding: 1vmax 6vmax;
    }
    .userProfilePage-card{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}